.admin{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  &__content{
    flex-grow: 1;
  }
  &__important{
    color: var(--q-secondary);
    border-bottom: 1px solid var(--color-readonly);
    padding: 10px 15px;
  }
  &__test{
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid transparent;
    transition: all .3s;
    &:hover{
      border: 1px solid var(--q-primary);
    }
  }
}
