.dropwrapper{
    &__title{
    }
    &__content{
        transition: max-height .5s;
        max-height: 0;
        overflow: hidden;
        &--active{
            max-height: 1000px
        }
    }
}