@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('assets/fonts/Roboto-Black.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('assets/fonts/Inter-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('assets/fonts/Inter-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('assets/fonts/Inter-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('assets/fonts/Inter-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('assets/fonts/Inter-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
