.tests {
    display: flex;
    flex-direction: column;

    &__search {
        max-width: 300px;
        padding: 0 1rem 0 1.5rem;
        border-radius: var(--b-radius-more);
        box-shadow: var(--box-shadow-inside);
    }
}

.card {
    box-shadow: var(--box-shadow-volume);
    border-radius: var(--b-radius);

    &__header {
        background: var(--q-primary);
        border-bottom-left-radius: var(--b-radius) !important;
        border-bottom-right-radius: var(--b-radius) !important;
        display: flex;
        align-items: center;
        gap: 8px;
        &:before{
            content: url("assets/img/icon/info.svg");
            height: 20px;
        }
    }
    &__item{
        border-radius: 0;
    }
    &__point{
        width: 23px;
        height: 35px;
        border-radius: var(--b-radius);
        background: var(--q-primary);
    }
}
.test{
    max-width: 960px;
    &__shadow{
        box-shadow: var(--box-shadow-volume);
        border-radius: var(--b-radius-more);
        overflow: hidden;
        padding: 1.5rem 3rem 3rem;
    }
    &__cover{
        max-width: 300px;
    }
}
