.tests {
    display: flex;
    flex-direction: column;

    &__search {
        max-width: 300px;
        padding: 0 1rem 0 1.5rem;
        border-radius: var(--b-radius-more);
        box-shadow: var(--box-shadow-inside);
        background: transparent;
        .q-field__control{
            background: transparent;
        }
    }
}

.card {
    box-shadow: var(--box-shadow-volume);
    border-radius: var(--b-radius);
    background: var(--color-white);
    &__wrapper{
        padding: 35px 40px;
        @media (max-width: 600px) {
            padding: 15px 20px;
        }
    }
    &__border {
        border-radius: var(--b-radius-more);
        &--small{
            border-radius: var(--b-radius);
        }
    }

    &__header {
        background: var(--q-primary);
        border-bottom-left-radius: var(--b-radius) !important;
        border-bottom-right-radius: var(--b-radius) !important;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 5px;
        &:before {
            content: url("assets/img/icon/info.svg");
            height: 20px;
        }
    }

    &__item {
        border-radius: 0;
        padding: 0 20px !important;
        &:first-child{
            border-top-left-radius: var(--b-radius);
            border-top-right-radius: var(--b-radius);
        }
        &:last-child{
            border-bottom-left-radius: var(--b-radius);
            border-bottom-right-radius: var(--b-radius);
        }
    }

    &__mark{
        width: 23px;
        height: 35px;
        border-radius: var(--b-radius);
        border: 1px solid rgba(71, 71, 71, 0.6);
        &--full{
            border: 1px solid transparent;
            background: var(--q-primary);
        }
        &--half{
            position: relative;
            border: 1px solid transparent;
            background: none;
            overflow: hidden;
            &:before{
                content: "";
                position: absolute;
                z-index: 2;
                left: 0;
                top: 0;
                bottom: 0;
                width: calc(50% + 1px);
                background: var(--q-primary);
            }
            &:after{
                content: "";
                position: absolute;
                z-index: 1;
                right: 0;
                top: 0;
                bottom: 0;
                width: 50%;
                border-bottom-right-radius: var(--b-radius);
                border-top-right-radius: var(--b-radius);
                border: 1px solid rgba(71, 71, 71, 0.6);
            }
        }
    }
    &__point {
        width: 23px;
        height: 35px;
        border-radius: var(--b-radius);
        background: var(--q-primary);
    }
}

.test {
    &__shadow {
        box-shadow: var(--box-shadow-volume);
        border-radius: var(--b-radius-more);
        overflow: hidden;
        padding: 1.5rem 3rem 3rem;
    }

    &__cover {
        max-width: 300px;
    }
}
