.tests {
    display: flex;
    flex-direction: column;

    &__search {
        max-width: 300px;
        padding: 0 1rem 0 1.5rem;
        border-radius: var(--b-radius-more);
        box-shadow: var(--box-shadow-inside);
        background: transparent;
        .q-field__control{
            background: transparent;
        }
    }
}

.test {
    &__shadow {
        box-shadow: var(--box-shadow-volume);
        border-radius: var(--b-radius-more);
        overflow: hidden;
        padding: 1.5rem 3rem 3rem;
    }

    &__cover {
        max-width: 300px;
    }
}
