:root {
    --color-menu: rgba(71, 71, 71, 0.53);
    --color-bg: #F5F3FF;
    --q-primary: #8D6EEF;
    --q-secondary: #474747FF;
    --q-accent: #1D212D;
    --font-family-size: 1rem;
    --font-family-base: 'Inter', sans-seri;
    --b-radius: 10px;
    --b-radius-more: 30px;
    --color-white:#FFFFFF;
    --box-shadow-inside: -5px -5px 10px 0px #FFF inset, 5px 5px 10px 0px rgba(170, 170, 204, 0.50) inset, 2px 2px 4px 0px rgba(170, 170, 204, 0.25) inset, -2px -2px 4px 0px rgba(255, 255, 255, 0.50) inset;
    --box-shadow-volume: 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
}
