#q-app {
    min-height: 100vh;
    height: 1px;
    background: var(--color-bg);
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-family-size);
    color: rgba(var(--bs-dark-rgb), 1);
    background-color: rgba(var(--bs-light-rgb), 1);
    position: relative;
    min-width: 320px;
    min-height: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
@media (min-width: 1400px) {
    .container {
        width: 1370px
    }
}


.text-h1 {
    font-size: calc(var(--font-family-size) * 3.375);
    line-height: normal;
    letter-spacing: normal;
}

.text-h2 {
    font-size: calc(var(--font-family-size) * 1.5);
    line-height: normal;
    letter-spacing: normal;
}

.text-h3 {
    font-size: calc(var(--font-family-size) * 1.25);
    line-height: normal;
    letter-spacing: normal;
}

.text-h4 {
    font-size: calc(var(--font-family-size) * 1.125);
    line-height: normal;
    letter-spacing: normal;
}

.text-h5 {
    font-size: calc(var(--font-family-size));
    line-height: normal;
    letter-spacing: normal;
}

.text-h6 {
    font-size: calc(var(--font-family-size) * 0.75);
    line-height: normal;
    letter-spacing: normal;
}


@media (max-width: 1440px) {
    .container {
        max-width: 1000px;
    }
}

.description {
    color: var(--q-secondary);

    &__point {
        padding-left: 30px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            height: 100%;
            width: 15px;
            background: var(--q-primary);
            border-radius: var(--b-radius-more);
        }
    }

    &__selected {
        color: var(--q-primary);
    }
}

.q-btn {
    border-radius: var(--b-radius-more);
    text-transform: none;
}

.q-checkbox {
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 2px solid transparent;
    padding: 3px 20px;
    border-radius: var(--b-radius);

    &[aria-checked="true"] {
        border: 2px solid var(--q-primary);
    }

    &__label {
        color: var(--q-accent);
        font-weight: 600;
    }

    &__inner--truthy ~ &__label {
        color: var(--q-secondary);
    }

    &__bg {
        border-radius: 50%;
        padding: 5px;
        border: 1px solid var(--q-secondary);
    }

    &__inner--truthy &__bg {
        border: 1px solid transparent;
    }

    &__svg {
        padding: 2px;
    }
}
.q-input{
    .q-field__control{
        border-radius: var(--b-radius);
    }
}

.breadcrumb{
    display: flex;
    margin: 0;
    padding: 0 0 10px;
    font-weight: 500;
    &__item:not(:last-child){
        padding-right: 10px;
        &:after{
            content: "-";
            padding-left: 10px;
        }
    }
}
