body {
    position: relative;
    min-width: 320px;
    min-height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    font-size: var(--font-family-size);
    color: rgba(var(--bs-dark-rgb), 1);
    background-color: var(--color-bg);
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1370px
    }
}

.text {
    &-h1 {
        font-size: calc(var(--font-family-size) * 3.375);
        line-height: normal;
        letter-spacing: normal;
        @media (max-width: 600px) {
            font-size: calc(var(--font-family-size) * 2.375);
        }
    }

    &-h2 {
        line-height: normal;
        letter-spacing: normal;
        font-size: calc(var(--font-family-size) * 1.5);
    }

    &-h3 {
        line-height: normal;
        letter-spacing: normal;
        font-size: calc(var(--font-family-size) * 1.25);
    }

    &-h4 {
        line-height: normal;
        letter-spacing: normal;
        font-size: calc(var(--font-family-size) * 1.125);
    }

    &-h5 {
        line-height: normal;
        letter-spacing: normal;
        font-size: calc(var(--font-family-size));
    }

    &-h6 {
        line-height: normal;
        letter-spacing: normal;
        font-size: calc(var(--font-family-size) * 0.75);
    }
}


@media (max-width: 1440px) {
    .container {
        max-width: 1000px;
    }
}

.description {
    color: var(--q-secondary);

    &__point {
        padding-left: 30px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            height: 100%;
            width: 15px;
            background: var(--q-primary);
            border-radius: var(--b-radius-more);
        }
    }

    &__selected {
        color: var(--q-primary);
    }

    &__paragraph {
        display: block;

        &:before {
            content: '\2022';
            padding-right: 5px;
        }
    }
}

.q {
    &-checkbox {
        flex-direction: row-reverse;
        justify-content: space-between;
        border: 2px solid transparent;
        padding: 3px 20px;
        border-radius: var(--b-radius);

        &[aria-checked="true"] {
            border: 2px solid var(--q-primary);
        }

        &[aria-checked="true"] &__label {
            color: var(--q-secondary);
            opacity: 0.8;
        }

        &__label {
            color: var(--q-accent);
            font-weight: 600;
            opacity: 1;
            transition: opacity .3s linear;
        }

        &__bg {
            border-radius: 50%;
            padding: 5px;
            border: 1px solid var(--q-secondary);
        }

        &__inner--truthy &__bg {
            border: 1px solid transparent;
        }

        &__svg {
            padding: 2px;
        }
    }

    &-radio {
        flex-direction: row-reverse;
        justify-content: space-between;
        border: 2px solid transparent;
        padding: 3px 20px;
        border-radius: var(--b-radius);
        transition: border .1s;

        &:hover {
            border: 2px solid var(--q-primary);
        }

        &[aria-checked="true"] {
            border: 2px solid var(--q-primary);
        }

        &[aria-checked="true"] &__label {
            color: var(--q-secondary);
            opacity: 0.8;
        }

        &__label {
            color: var(--q-accent);
            font-weight: 600;
            opacity: 1;
            transition: opacity .3s linear;
        }

        &[aria-checked="true"] &__inner {
            &:before {
                background: var(--q-primary) !important;
                border: 1px solid transparent;
            }
        }

        &__inner {
            display: block;
            &:before {
                content: "";
                width: 20px;
                height: 20px;
                transform: scale3d(1, 1, 1) !important;
                border-radius: 50%;
                opacity: 1 !important;
                margin: auto;
                background: transparent !important;
                border: 1px solid var(--q-secondary);
            }
        }

        &__bg {
            display: none;
        }
    }

    &-btn {
        border-radius: var(--b-radius-more);
        text-transform: none;
    }

    &-field {
        &__inner {
            height: 100%;
        }

        &__control {
            border-radius: var(--b-radius) !important;
            max-height: 40px;
            background: var(--color-bg);
            padding: 0 10px;

            &:before {
                border: 1px solid transparent !important;
            }

            &-container {
                line-height: 40px;
                height: 40px;
            }
        }

        &__marginal {
            line-height: 40px;
            height: 40px;
        }

        &__native {
            line-height: 40px;
            height: 40px;
        }

        &__label {
            top: 10px;
        }
    }

    &-dialog {
        &__inner {
            top: 5vh;
        }
    }
}

.breadcrumb {
    display: flex;
    margin: 0;
    padding: 0 0 10px;
    font-weight: 500;

    &__item:not(:last-child) {
        padding-right: 10px;
        cursor: pointer;

        &:after {
            content: "-";
            padding-left: 10px;
        }
    }
}

.loader {
    margin: auto;
}

.cover {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid var(--q-primary);
    background-image: url("src/assets/img/temp/user.svg");
    background-size: contain;

    &__small {
        width: 47px;
        height: 47px;
    }
}
